* {
  padding: none;
  margin: none;
  border: none;
  text-decoration: none;
  color: inherit;
}

.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  background-color: #f87a53;
}

.logo {
  height: 90px;
  width: 90px;
  padding-top: 5px;
  padding-left: 5px;
  border-radius: 50%;
}

.nav-items {
  padding-top: 5px;
  padding-right: 25px;
  font-size: 20px;
}

.nav-items > ul {
  display: flex;
  gap: 45px;
  list-style: none;
  padding-right: 20px;
}

.res-container {
  padding: 25px;
  display: grid;
  justify-content: center;
  grid-template-columns: auto auto auto auto;
  gap: 25px;
  border: 1px solid rgb(255, 221, 0);
  background-color: #4c4b16;
}

.restaurant-card {
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  width: 280px;
  /* height: 360px; */
  border: 1px solid black;
  background-color: rgb(125, 125, 102);
  text-align: center;
  transition: 0.2s ease-in-out all;
}

.restaurant-card:hover {
  transform: scale(1.1);
}

.card-image {
  height: 180px;
  width: 270px;
  border-radius: 5%;
  border: 1px solid black;
}

.shimmerContainer {
  margin-top: 10px;
  display: flex;
  gap: 5px;
}

.shimmerCard {
  height: 200px;
  width: 400px;
  background-color: grey;
}

.login-btn {
  padding: 0px 10px;
  cursor: pointer;
  background-color: aqua;
}

.resCardSage {
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  width: 280px;
  border: 1px solid black;
  text-align: center;
  transition: 0.2s ease-in-out all;
  background-color: #898121;
}

.resCardYellow {
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  width: 280px;
  border: 1px solid black;
  text-align: center;
  transition: 0.2s ease-in-out all;
  background-color: #e6c767;
}

.resCardSage:hover {
  transform: scale(1.1);
}

.resCardYellow:hover {
  transform: scale(1.1);
}

.search-box {
  border: 1px solid black;
}

.filter {
  display: flex;
  margin: 10px;
  gap: 5px;
}

.search-btn {
  background-color: grey;
  border: 1px solid black;
  cursor: pointer;
}

.filter-btn {
  cursor: pointer;
  border: 1px solid black;
  background-color: pink;
}

.reset-btn {
  cursor: pointer;
  border: 1px solid black;
}
